
body {
    margin: 0px;
}

#bg-image {
    background: linear-gradient(0deg,rgba(69,173,168,0.75),rgba(69,173,168,0.75)), url("../assets/cover.jpg");   
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10vw;
    color: E5FCC2;
}

#bg-hr {
    width: 45vw;
    height: 1px;
    background-color: E5FCC2;
    opacity: 0.6;
}

#pw-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 6vw;
    color: E5FCC2;
}

#about-container {
    padding: 0 3vh 0 3vh;
    color: 594F4F;    
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}

.section-header {
    color: 547980;
    font-size: 7vh;
    text-align: center;
    margin: 3vh 0 3vh 0;
}

#about-hr {
    height: 1px;
    background-color: 594F4F;
    border: none;
    opacity: 0.6;
    margin: 3vh 0 3vh 0;
}

#about-text {
    margin: 3vh 0 3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#dp-container {
    display: flex;
    justify-content: center;
    margin: 3vh 0 3vh 0;
}

#dp-img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
}

@media screen and (min-width: 500px) {
    #about-container {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 750px) {
    #name-text {
        font-size: 6vw;
    }

    #bg-hr {
        width: 35vw;
    }

    #pw-text {
        font-size: 3vw;
    }

    #about-container {
        width: 80%;
        display: flex;
    }
    #about-hr {
        order: 1;
    }
    #about-details-container {
        width:50%
    }
    #about-text {
        width: 50%;
        text-align: left;
    }
}

@media screen and (min-width: 1100px) {
    #about-container {
        width: 950px;
    }
}

